In [1]:
#딕셔너리 CRUD

dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

print(type(dc))
print(dc)

<class 'dict'>
{'코카콜라': 900, '바나나우유': 750, '비타500': 600, '삼다수': 400}

In [ ]:
dc_student = {
    1 : "홍길동",
    2 : "박길동",
    3 : "김길동"
}

print(type(dc_student))
print(dc_student)

In [2]:
dc = {
    "이름" : '이순둥',
    "나이" : 19,
    '직업' : '학생',
    '키' : 175.8
}

print(dc)

{'이름': '이순둥', '나이': 19, '직업': '학생', '키': 175.8}

In [3]:
dc_student = {
    1 : "홍길동",
    2 : "홍길동",
    3 : "홍길동"
}

print(type(dc_student))
print(dc_student)

<class 'dict'>
{1: '홍길동', 2: '홍길동', 3: '홍길동'}

In [4]:
dc_student = {
    '이순둥' : 22,
    '이순둥' : 23,
    '이순둥' : 24
}

print(type(dc_student))
print(dc_student)

<class 'dict'>
{'이순둥': 24}

In [5]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

val = dc["삼다수"]
print(val)

400

In [6]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

val = dc["비타500"]
print(val)

600

In [8]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

dc['삼다수'] = 550
dc['코카콜라'] = 800
print(dc)

{'코카콜라': 800, '바나나우유': 750, '비타500': 600, '삼다수': 550}

In [10]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

dc['카페라떼'] = 1000
dc['사이다'] = 1200
print(dc)

{'코카콜라': 900, '바나나우유': 750, '비타500': 600, '삼다수': 400, '카페라떼': 1000, '사이다': 1200}

In [11]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

del dc['비타500']
print(dc)

{'코카콜라': 900, '바나나우유': 750, '삼다수': 400}

In [12]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

if '코카콜라' in dc: # 이때의 in 연산자는 값을 체크하는게 아닌 key를 체크한다.
    dc['코카콜라'] = 950

if '카페라떼' not in dc:
    dc['카페라떼'] = 1000

print(dc)

{'코카콜라': 950, '바나나우유': 750, '비타500': 600, '삼다수': 400, '카페라떼': 1000}

In [13]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

for i in dc:
    print(i, dc[i])

코카콜라 900
바나나우유 750
비타500 600
삼다수 400

In [14]:
# dc에 모든 물품에 100원을 더하시오
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

for i in dc:
    dc[i] = dc[i] + 100
    print(i, dc[i])

코카콜라 1000
바나나우유 850
비타500 700
삼다수 500

In [15]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

for key, value in dc.items(): # dc.items()는 리턴값이 두개이다.
    print(key, value)

코카콜라 900
바나나우유 750
비타500 600
삼다수 400

In [16]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

sum = 0

for value in dc.values():
    sum += value

print(sum)

2650