In [1]:
#딕셔너리 CRUD

dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

print(type(dc))
print(dc)

<class 'dict'>
{'코카콜라': 900, '바나나우유': 750, '비타500': 600, '삼다수': 400}

In [ ]:
dc_student = {
    1 : "홍길동",
    2 : "박길동",
    3 : "김길동"
}

print(type(dc_student))
print(dc_student)

In [2]:
dc = {
    "이름" : '이순둥',
    "나이" : 19,
    '직업' : '학생',
    '키' : 175.8
}

print(dc)

{'이름': '이순둥', '나이': 19, '직업': '학생', '키': 175.8}

In [3]:
dc_student = {
    1 : "홍길동",
    2 : "홍길동",
    3 : "홍길동"
}

print(type(dc_student))
print(dc_student)

<class 'dict'>
{1: '홍길동', 2: '홍길동', 3: '홍길동'}

In [4]:
dc_student = {
    '이순둥' : 22,
    '이순둥' : 23,
    '이순둥' : 24
}

print(type(dc_student))
print(dc_student)

<class 'dict'>
{'이순둥': 24}

In [5]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

val = dc["삼다수"]
print(val)

400

In [6]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

val = dc["비타500"]
print(val)

600

In [8]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

dc['삼다수'] = 550
dc['코카콜라'] = 800
print(dc)

{'코카콜라': 800, '바나나우유': 750, '비타500': 600, '삼다수': 550}

In [10]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

dc['카페라떼'] = 1000
dc['사이다'] = 1200
print(dc)

{'코카콜라': 900, '바나나우유': 750, '비타500': 600, '삼다수': 400, '카페라떼': 1000, '사이다': 1200}

In [11]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

del dc['비타500']
print(dc)

{'코카콜라': 900, '바나나우유': 750, '삼다수': 400}

In [12]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

if '코카콜라' in dc: # 이때의 in 연산자는 값을 체크하는게 아닌 key를 체크한다.
    dc['코카콜라'] = 950

if '카페라떼' not in dc:
    dc['카페라떼'] = 1000

print(dc)

{'코카콜라': 950, '바나나우유': 750, '비타500': 600, '삼다수': 400, '카페라떼': 1000}

In [13]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

for i in dc:
    print(i, dc[i])

코카콜라 900
바나나우유 750
비타500 600
삼다수 400

In [14]:
# dc에 모든 물품에 100원을 더하시오
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

for i in dc:
    dc[i] = dc[i] + 100
    print(i, dc[i])

코카콜라 1000
바나나우유 850
비타500 700
삼다수 500

In [15]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

for key, value in dc.items(): # dc.items()는 리턴값이 두개이다.
    print(key, value)

코카콜라 900
바나나우유 750
비타500 600
삼다수 400

In [16]:
dc = {
    "코카콜라" : 900,
    "바나나우유" : 750,
    "비타500" : 600,
    "삼다수" : 400
}

sum = 0

for value in dc.values():
    sum += value

print(sum)

2650

In [1]:
# 딕셔너리 생성과 zip

# 딕셔너리 생성 방법들

dic1 = {
    'a' : 1,
    'b' : 2,
    'c' : 3,  
}
print(dic1)

dic2 = dict(a = 1, b = 2, c = 3) # 형변환 함수 이용
print(dic2)

dic3 = dict([('a', 1), ('b', 2), ('c', 3)])
print(dic3)

dic4 = dict((('a', 1), ('b', 2), ('c', 3))) # 튜플로 해도 가능
print(dic4)

dic5 = dict(zip(['a', 'b', 'c'], [1, 2, 3])) # zip 함수 이용
print(dic5)

dic1 == dic2 == dic3 == dic4 == dic5

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

True

In [2]:
# zip을 for 문으로 돌리기

z = zip(('a', 'b', 'c'), (1, 2, 3)) # zip 자체는 튜플로 구성된 iterable 객체이다.

for i in z:
    print(i) # 튜플로 출력

('a', 1)
('b', 2)
('c', 3)

In [6]:
z = zip('abc', (1, 2, 3))

for i in z:
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [3]:
t = tuple(zip('abc', (1, 2, 3)))
print(t)

(('a', 1), ('b', 2), ('c', 3))

In [7]:
z = list(zip('abc', (1, 2, 3), ('one', 'two', 'three')))
print(z)

[('a', 1, 'one'), ('b', 2, 'two'), ('c', 3, 'three')]

In [8]:
# *와 ** 사용규칙

#func(*iterable)                  iterable 객체를 전달하면서 을 *붙여서 함수 호출할 때
#func(**dict)                       dict 객체를 전달하면서 을 **붙여서 함수 호출할 때
#def func(*args)                 함수를 정의하면서 매개변수 args에 *붙일 때
#def func(**args)               함수를 정의하면서 매개변수 args에 **붙일 때

def who(a, b, c):
    print(a, b, c, sep = ', ')

who(1, 2, 3) # 포지셔널
who(*[1, 2, 3]) # 언패킹
who(*(1, 2, 3)) # 언패킹
who(*'abc') # 언패킹

1, 2, 3
1, 2, 3
1, 2, 3
a, b, c

In [13]:
def who(a, b, c):
    print(a, b, c, sep = ', ')

d = dict(a = 1, b = 2, c = 3)
who(*d) # 언패킹을 하니깐 key값만 출력된다.
who(**d) # 언패킹을 하니깐 value값만 출력된다.

who(*(d.items())) # (('a', 1), ('b', 2), ('c', 3)) 를 언패킹하여 각각의 튜플을 who 의 각 파라미터에 할당한다.

a, b, c
1, 2, 3
('a', 1), ('b', 2), ('c', 3)

In [16]:
#def func(*args)                 함수를 정의하면서 매개변수 args에 *붙일 때
#def func(**args)               함수를 정의하면서 매개변수 args에 **붙일 때

def func(*args):
    print(args) 

func() # 빈 튜플만 출력된다.
func(1) # (1,) 출력된다. 이는 튜플이라는걸 알려주기 위해 ,를 붙인다.
func(1, 2, 3, 4, 5)

()
(1,)
(1, 2, 3, 4, 5)

In [20]:
def func(**args):
    print(args)

func(a = 1)
func(a = 1, b = 2, c = 3)

{'a': 1}
{'a': 1, 'b': 2, 'c': 3}

In [21]:
# 현업에서 보이는 코드

def func(*args, **args2):
    print(args, args2) #def print(*args, *, /, **args):

func(1, 2, 3, a = 1, b = 2, c = 3, d = 4)

(1, 2, 3) {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
# OrderedDict
# 파이썬 3.7 버전부터 딕셔너리 저장순서 유지

d = {}
d['a'] = 1 # 제일 먼저 저장
d['b'] = 2 # 두 번째로 저장
d['c'] = 3 # 마지막에 저장

print(d)

# 3.6 이전 버전
# {'b' : 2, 'a' : 1, 'c' : 3} 순서 랜덤

import sys # 파이썬 버전 확인
sys.version

{'a': 1, 'b': 2, 'c': 3}

'3.10.16 | packaged by conda-forge | (main, Dec  5 2024, 14:07:43) [MSC v.1942 64 bit (AMD64)]'

In [24]:
# 3.6 버전 이전에 딕셔너리 정렬해서 출력하는 법.

from collections import OrderedDict # collections 모듈의 OrderedDict

od = OrderedDict() # OrderedDict 객체 생성

od['a'] = 1 # 딕셔너리 사용 방법과 동일
od['b'] = 2
od['c'] = 3
print(od)

# OrderedDict([('a',1),('b',2),('c',3)])

for kv in od.items(): # 딕셔너리와 마찬가지로 items 메소드 호출 가능
    print(kv)

# 출력
# ('a', 1)
# ('b', 2)
# ('c', 3)

OrderedDict([('a', 1), ('b', 2), ('c', 3)])
('a', 1)
('b', 2)
('c', 3)

('c', 3)

In [25]:
d1 = dict(a = 1, b = 2, c = 3)
d2 = dict(c = 3, a = 1, b = 2)

print(d1)
print(d2)

print(d1 == d2)

{'a': 1, 'b': 2, 'c': 3}
{'c': 3, 'a': 1, 'b': 2}
True

In [26]:
from collections import OrderedDict

od1 = OrderedDict(a = 1, b = 2, c = 3) # 클래스
od2 = OrderedDict(c = 3, a = 1, b = 2)

print(od1)
print(od2)

print(od1 == od2)

OrderedDict([('a', 1), ('b', 2), ('c', 3)])
OrderedDict([('c', 3), ('a', 1), ('b', 2)])
False