In [62]:
for i in [1, 2, 3]:
    print(i, end = " ")

1 2 3

In [63]:
type([1])

print(type([1, 2, 3]))

[1, "hello", 3.3]
[1, 2, [3, 4], ["hello", "3.14"]]

<class 'list'>

[1, 2, [3, 4], ['hello', '3.14']]

In [64]:
print([1, 2, 3] + [4, 5])
print([1, 2, 3] * 2)

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3]

In [65]:
st = [1, 2, 3, 4, 5]
n1 = st[0]
n2 = st[3]

print(n1 + n2)

5

In [66]:
st = [1, 2, 3, 4, 5]

st[3] = 9
st[0] = 0

print(st)

[0, 2, 3, 9, 5]

In [67]:
st = [1, 2, 3, 4, 5]

print(st[-1], st[-2], st[-3])

5 4 3

In [68]:
#슬라이싱 연산

st1 = [1, 2, 3, 4, 5, 6, 7, 8]
st2 = st1[2 : 5]

print(st2)

[3, 4, 5]

In [69]:
st = [1, 2, 3, 4, 5, 6, 7, 8]
st[2 : 5] = [0, 0, 0, 0, 0]

print(st)

[1, 2, 0, 0, 0, 0, 0, 6, 7, 8]

In [70]:
st = [1, 2, 3, 4, 5, 6, 7, 8]
st[:3] = [0, 0, 0]

print(st)

[0, 0, 0, 4, 5, 6, 7, 8]

In [71]:
st = [1, 2, 3, 4, 5, 6, 7, 8]
st[2:] = [0, 0, 0]

print(st)

[1, 2, 0, 0, 0]

In [72]:
st = [1, 2, 3, 4, 5, 6, 7, 8]
st[:] = [0, 0, 0]

print(st)

[0, 0, 0]

In [73]:
st = [1, 2, 3, 4, 5, 6, 7, 8]
st[:] = []

print(st)

[]

In [74]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
st = st[0 : 10 : 2]

print(st)

[1, 3, 5, 7, 9]

In [75]:
#문자열(string)형 다루기

"hello" + " everybody"

'Happy birthday to you ' * 3

'Happy birthday to you Happy birthday to you Happy birthday to you '

In [76]:
name = "홍길동"
name[2] = "순"

TypeError: 'str' object does not support item assignment

In [28]:
for i in "Happy":
    print(i, end ="")

Happy

In [30]:
st = [1, 2, 3, 4, 5]
len(st)

sr = "Happy"
len(sr)

5

In [32]:
def so_simple4(s):
    print(s)
    return "안녕히 가세요"

r = so_simple4("안녕하세요")

print(r)

안녕하세요
안녕히 가세요

In [40]:
'''
for i in range(5):
    print("*" * (i + 1))
    
'''
for i in range(1,6):
    for j in range(i):
        print("*", end = "")
    print()

*
**
***
****
*****

In [37]:
for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [44]:
for i in range(1,6): #range(5, 0, -1) 하면 5에서 1까지 역순으로 내려간다
    for j in range(6 - i):
        print("*", end="")
    print()

*****
****
***
**
*

In [53]:
'''
for i in range(1,6):
    for j in range(5 - i):
        print(" ", end="")
    for j in range(i):
        print("*", end = "")
    print()
'''

for i in range(1, 6):
    print(" " * (5 - i) + "*" * i)

    *
   **
  ***
 ****
*****

In [55]:
for i in range(5):
    for j in range(i):
        print(" ", end = "")
    for j in range(5-i):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

In [ ]:
num = input("몇층석탑?")

for i in range(1,int(num) + 1 ):
    for j in range(i):
        print("*", end = "")
    print()

*
**
***

리스트 함수

In [3]:
st = [1, 3, 5, 7, 9]
num = len(st)

print(num)
print(min(st))
print(max(st))

5
1
9

In [11]:
st = [1, 3, 5, 7, 9]
st.remove(1)
print(st)

st.append(1)
print(st)

st.extend([2, 4])
print(st)

st.insert(0, 1)
print(st)

st.clear()
print(st)

[3, 5, 7, 9]
[3, 5, 7, 9, 1]
[3, 5, 7, 9, 1, 2, 4]
[1, 3, 5, 7, 9, 1, 2, 4]
[]

In [16]:
st = []

st.extend([1, 9])

print(st)

[1, 9]

In [18]:
st = [1, 2, 3, 4, 5]

print(st.pop(0))
print(st)

1
[2, 3, 4, 5]
[2, 4, 5]

In [1]:
st = [1, 2, 3, 1, 2]

print(st.count(1))
print(st.index(2))

print(st[st.index(2)])

2
1
2

In [28]:
st = "HongGilDong"

print(st.count("o"))
print("HongGilDong".count("o"))

print(st.count("ng"))

print(st.index("G"))

2
2
2
4

In [30]:
org = "Kim"

lcp = org.lower()
ucp = org.upper()

print(lcp)
print(ucp)

kim
KIM

In [32]:
org = " MIDDLE "

cp1 = org.strip()
cp2 = org.lstrip()
cp3 = org.rstrip()

print(cp1)
print(cp2)
print(cp3)

MIDDLE
MIDDLE
 MIDDLE

In [35]:
org = "Heoo"

rps = org.replace("He", "Ho")
print(rps)

rps = org.replace("e", "o", 1) # 첫번째 e만 바꾼다.
print(rps)

Hooo
Hooo

In [39]:
org = "ab_cd_ef"

ret = org.split('_') # 글자를 자르는데 return 값이 list로 출력한다.
print(ret)

for string in ret:
    print(string)


tel = "010-1234-5678"

ret = tel.split('-')
print(ret)

['ab', 'cd', 'ef']
ab
cd
ef
['020', '1234', '5678']

탐색 관련 함수들

In [43]:
string = "What is important is that you should choose what is best for you"

print(string.find("is")) # is가 시작되는 index 값이 리턴된다.
print(string.rfind("is")) # 마지막 위치의 is의 index 값이 리턴된다.

5
49

In [44]:
string = "escape \n characters"

print(string)

escape
 characters

In [45]:
string = "escape\tcharacters"

print(string)

escape	characters

In [46]:
string = "escape \'characters\""

print(string)

escape 'characters"

In [1]:
string = "escape\tcharacters"

print(string)

escape	characters

In [47]:
print("abcd", end = "\n")
print("abcd", end = "\t")

abcd
abcd

In [52]:
st = [1, 2, 3, 4, 5]

del st[0]
print(st)

del st[1:2]
print(st)

del st[:]
print(st)

[2, 3, 4, 5]
[2, 4, 5]
[]

리스트 컴프리 헨션

In [2]:
even_num =[]

for i in range(10):
    if i % 2 == 0:
        even_num.append(i)

print(even_num)

[0, 2, 4, 6, 8]

In [10]:
# 한줄로 표현하기
even_num =[i for i in range(10) if i % 2 == 0]
print(even_num)

[0, 2, 4, 6, 8]

In [1]:
r1 = [1, 2, 3, 4, 5]
r2 = []

for i in r1:
    r2.append(i * 2)

print(r2)

[2, 4, 6, 8, 10]

In [13]:
r1 = [1, 2, 3, 4, 5]
r2 = [x * 2 for x in r1]
print(r2)

r2 = [x * 2 for x in r1 if x % 2 == 0]
print(r2)

[2, 4, 6, 8, 10]
[4, 8]

In [18]:
r1 = ['Black', 'White']
r2 = ['Red', 'Blue', 'Green']
r3 = [i + j for i in r1 for j in r2]

print(r3)

['BlackRed', 'BlackBlue', 'BlackGreen', 'WhiteRed', 'WhiteBlue', 'WhiteGreen']

In [2]:
r1 = ['Red', 'Blue', 'Green']
r2 = r1[::-1]
print(r2)

['Green', 'Blue', 'Red']