In [7]:
def star(num):
    for i in range(num):
        print("*" * (i + 1))

num = int(input("별 갯수를 입력하세요."))
star(num)

*
**
***
****
*****

In [13]:
def star(num):
    for i in range(num):
        print("*" * (num - i))

num = int(input("별 갯수를 입력하세요."))
star(num)

*****
****
***
**
*

In [9]:
def star(num):
    for i in range(num):
        print(" " * (num - i),end = "")
        print("*" * (i + 1))

num = int(input("별 갯수를 입력하세요."))
star(num)

     *
    **
   ***
  ****
 *****

In [14]:
def star(num):
    for i in range(num):
        print(" " * (i),end = "")
        print("*" * (num - i))

num = int(input("별 갯수를 입력하세요."))
star(num)

*****
 ****
  ***
   **
    *

In [16]:
num = int(input("정수를 적어주세요"))

if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [ ]:
def output(num):
    if num > 255:
        print(255)
    else:
        print(num)

num = int(input("정수를 입력하세요"))

num = num + 20

output(num)

255

In [38]:
def output(num):
    if num < 0:
        print(0)
    elif num > 255:
        print(255)
    else:
        print(num)

num = int(input("정수를 입력하세요"))

num = num - 20

output(num)

255

In [ ]:
#사용자로부터 입력 받은 시간이 정각인지 판별하라.

#입력 현재시간 : 02:00

time = input("시간을 입력해주세요")

if time.endswith("00"): #if user[-2:] == "00"   hour, minute = input("현재 시간 : ").split(":")   if date.find('00') != -1:
    print("정각입니다")
else:
    print("정각이 아닙니다")

정각입니다

In [22]:
#사용자로 입력받은 단어가 아래 furit 리스트에 포함되어 있는지를 확인하라.
#포함되었다면 "정답입니다"를, 아닐 경우 "오답입니다"를 출력하라.

furit = ["사과", "포도", "홍시"]

get_furit = input("과일을 입력해주세요")

if get_furit in furit:
    print("정답입니다")
else:
    print("오답입니다")

오답입니다

In [29]:
#세개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

num1, num2, num3 = input("숫자 세개를 입력해 주세요").split(" ")

if num1 < num2:
    num1 = num2
if num1 < num3:
    num1 = num3

print(num1)

5

In [32]:
#1. 아래를 프로그래밍 하시오.

# 수우미양가
# 국어 영어 수학 입력을 받아 총점과 평균 그리고 성적을 프린트 하시오. 

def total(kor, eng, math):
    return kor + eng + math

def avg(total):
    return total / 3

kor, eng, math = input("국어 영어 수학 점수를 적어주세요").split(" ")

kor = int(kor)
eng = int(eng)
math = int(math)



def grade(avg):
    if avg >= 90:
        return "수"
    elif avg >= 80:
        return "우"
    elif avg >= 70:
        return "미"
    elif avg >= 60:
        return "양"
    else:
        return "가"

print(total(kor, eng, math)) # 270
print(avg(total(kor, eng, math))) # 90
print(grade(avg(total(kor, eng, math)))) # 우 입니다.

260
86.66666666666667
우

In [40]:
#7. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.
#번호통신사
#011SKT
#016KT
#019LGU
#010알수없음

def check_mobile_carrier(pnum):
    if pnum.startswith("011"):
        print("SKT")
    elif pnum.startswith("016"):
        print("KT")
    elif pnum.startswith("019"):
        print("LGU")
    elif pnum.startswith("010"):
        print("unknown")
    else:
        print("잘못된 번호입니다.")

pnum = input("전화번호를 적어주세요.")

check_mobile_carrier(pnum)

LGU

In [ ]:
#주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 
#사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라. (힌트) split

def check_sex(resnum):
    resnum = resnum.split("-")
    split_resnum = resnum[1]
    if split_resnum[0] != 1 or split_resnum[1][0] == 3:
        print("남자")
    else:
        print("여자")

resnum = input("주민번호를 입력해주세요")

check_sex(resnum)

남자

In [59]:
#9. 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.(비트코인 가격을 받아오지 못하면 풀지 말것)
'''
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data'] 

print(btc)
print(type(btc))
'''

{'opening_price': '144223000', 'closing_price': '146629000', 'min_price': '144000000', 'max_price': '147099000', 'units_traded': '533.29656149', 'acc_trade_value': '77682506377.28709', 'prev_closing_price': '144223000', 'units_traded_24H': '728.7613912', 'acc_trade_value_24H': '105848012786.1888', 'fluctate_24H': '2001000', 'fluctate_rate_24H': '1.38', 'date': '1736150569989'}
<class 'dict'>

In [64]:
'''
10.리스트에는 네 개의 문자열이 바인딩돼 있다.
리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

라
다
나
가
'''
string = ["가", "나", "다", "라"]

for i in string[::-1]: #string.reverse()도 가능
    print(i)

라
다
나
가

In [ ]:
'''
11.리스트에는 네 개의 문자열이 바인딩돼 있다. (힌트 step 할용)

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

가
다
'''

string = ["가", "나", "다", "라"]

for i in string[::2]:
    print(i)

In [ ]:
'''
12.사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.
number1: 10
number2: 9
number3: 20
'''

num1, num2, num3 = input("숫자 세개를 입력해 주세요").split(" ")

if num1 < num2:
    num1 = num2
if num1 < num3:
    num1 = num3

print(num1)

'''
a, b, c = 20, 10 ,30

if a > b and a > c:
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

high = a

if b > high:
    high = b

if c > high:
    high = c

print(high)

max() 함수 쓰면 한줄로 끝난다.
'''

In [67]:
'''
13. 리스트에서 세 글자 이상의 문자를 화면에 출력하라.

리스트 = ["I", "study", "python", "language", "!"]

study
python
language
'''

list = ["I", "study", "python", "language", "!"]

for i in list[:]:
    if len(i) >= 3:
        print(i)

study
python
language

In [68]:
'''
14. 리스트에서 대문자만 화면에 출력하라.
리스트 = ["A", "b", "c", "D"]

A
D
'''

list = ["A", "b", "c", "D"]

for i in list[:]:
    if i.isupper():
        print(i)

A
D

In [71]:
'''
15.이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
Dog
Cat
Parrot
'''

list = ['dog', 'cat', 'parrot']

for i in list[:]:
    ucp = i[0]
    print(i.replace(i[0], ucp.upper(), 1))

'''
for string in lst:
    string = string[0].upper() + string[1:]
    print(string)

for string in lst:
    print(string.capitalize()) #첫 글자만 대문자화
'''

Dog
Cat
Parrot

In [74]:
'''
16.파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
define.h
'''

list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in list[:]:
    if i.endswith(".h"):
        print(i)

intra.h
define.h

In [5]:
def total(kor, eng, math):
    return kor + eng + math

def avg(kor, eng, math):
    return (kor + eng + math) / 3

def grade(avg):
    if avg >= 90:
        return "수 입니다"
    elif avg >= 80:
        return "우 입니다"
    elif avg >= 70:
        return "미 입니다"
    elif avg >= 60:
        return "양 입니다"
    else:
        return "가 입니다"


print(total(90,90,90))
print(avg(90,90,90))
print(grade(avg(80,80,80)))

270
90.0
우 입니다

2025-01-07
회고

In [ ]:
# 3.  t = 1, 2, 3, 4  
   #t의 데이타 타입은?
t = 1, 2, 3, 4

print(type(t))

ValueError: too many values to unpack (expected 2)

In [3]:
# 4.리스트에는 네 개의 정수가 저장돼 있다.
'''python
#리스트 = [3, -20, -3, 44] 
#for문을 사용해서 리스트의 음수를 출력하라.
'''
lst = [3, -20, -3, 44]

for i in lst:
    if i < 0:
        print(i)

-20
-3

In [4]:
# 5. for문을 사용해서 3의 배수만을 출력하라.
# 리스트 = [3, 100, 23, 44]

lst = [3, 100, 23, 44]

for i in lst:
    if i % 3 == 0:
        print(i)

3

In [1]:
# 6.리스트에서 20 보다 작은 3의 배수를 출력하라
'''
리스트 = [13, 21, 12, 14, 30, 18]

출력)
12
18
'''

lst = [13, 21, 12, 14, 30, 18]

for i in lst:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [3]:
# 7.월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
'''
2002
2006
2010
...
2042
2046
2050
'''

for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [4]:
# 8. 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [8]:
# 9.for문을 사용해서 아래와 같이 출력하라.
'''
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
'''

for i in range(10):
    print("0." + str(i))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [5]:
# 10. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
sum = 0

for i in range(1, 11):
    if i % 2 == 1:
        sum += i

print(sum)

25

In [6]:
# 11. 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
multi = 1

for i in range(1, 11):
    multi *= i

print(multi)

3628800

In [9]:
# 12. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
'''
price_list = [32100, 32150, 32000, 32500]

0 32100
1 32150
2 32000
3 32500
'''
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [13]:
# 13. 리스트를 아래와 같이 출력하라.
'''
my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마
'''
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    for j in range(3):
        print(my_list[i + j], end = " ")
    print()

가 나 다
나 다 라
다 라 마

In [16]:
# 14. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
'''
my_list = [100, 200, 400, 800, 1000, 1300]
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
'''
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list) - 2):
    sum = 0
    for j in range(3):
        sum += my_list[i + j]
    print(sum / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 15. 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
'''
101호	102호
201호	202호
301호	302호
'''

apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [ ]:
# 16. 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.
'''
시가 종가
100	 80
200	 210
300	 330
'''

stock = [[100, 200, 300], [80, 210, 330]]

In [17]:
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [18]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [2]:
sum = 0

for i in range(1, 11):
    if i % 2 != 0:
        sum += i

print(sum)

25

In [4]:
multi = 1

for i in range(1, 11):
    multi *= i

print(multi)

3628800

In [7]:
my_list = ['가', '나', '다', '라']

for i in range(len(my_list) - 1):
    for j in range(2):
        print(my_list[i + j], end = " ")
    print()

가 나
나 다
다 라

2025-01-08 회고

In [ ]:
stock_list = {"시가" : [100, 200 ,300], "종가" : [80, 210, 330]}

091 딕셔너리 생성
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 dic_inventory로 한다.

이름    가격    재고
메로나    300    20
비비빅    400    3
죠스바    250    100

In [ ]:
dic_inventory = {
    "메로나" : [300, 20],
    "비비빅" : [400, 3],
    "죠스바" : [250, 100]
}

메로나의 가격을 화면에 출력하라
실행 예시:

300 원

In [11]:
dic_inventory = {
    "메로나" : [300, 20],
    "비비빅" : [400, 3],
    "죠스바" : [250, 100]
}
print(dic_inventory["메로나"][0])

300

In [17]:
dic_inventory = {
    "메로나" : [300, 20],
    "비비빅" : [400, 3],
    "죠스바" : [250, 100]
}

price = 0
total = 0

for values in dic_inventory.values():
    price += values[0]
    total += values[0] * values[1]

'''
for price, count in dic_inventory.values():
        sum += price
        total = total + (price * count)
'''

print(price) 
print(total)

950
32200

In [4]:
# 3. 딕셔너리 추가
'''
inventory 딕셔너리에 아래 데이터를 추가하라.
python
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
이름	가격 재고
월드콘	500	 7
'''
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500, 7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [17]:
# 4. 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.(힌트:딕셔너리 keys() 메서드)

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

key = []
key += icecream.keys()

print(key)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [14]:
# 5.icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
'''
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
출력 예시:
6700
'''

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum = 0

for price in icecream.values():
    sum += price

print(sum)

6700

In [16]:
# 6. 딕셔너리 update 메서드
'''
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
'''
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

for key, value in new_product.items():
    icecream[key] = value

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [21]:
'''
7. data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
'''
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
'''
수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

2000.28
3050.427
2050.2870000000003
'''
for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j] * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [23]:
'''
8. 7번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
'''

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j] * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [24]:
'''
9. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.
'''
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
'''
100
190
310
'''

for i in range(1, 4):
    print(ohlc[i][3])

100
190
310

In [25]:
#10. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
'''
190
310
'''

for i in range(1, 4):
    if ohlc[i][3] > 150:
        print(ohlc[i][3])

190
310

In [26]:
#11. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
'''
100
310
'''

for i in range(1, 4):
    if ohlc[i][3] >= ohlc[i][0]:
        print(ohlc[i][3])

100
310

In [29]:
#12. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
'''
>> print(volatility)
[40, 30, 10]
'''
volatility = []

for i in range(1, 4):
    volatility += [ohlc[i][1] - ohlc[i][2]]

print(volatility)

[40, 30, 10]

In [30]:
#13. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]
]
#종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

for i in range(1, 4):
    if ohlc[i][3] > ohlc[i][0]:
        print(ohlc[i][1] - ohlc[i][2])

10