In [5]:
frns_lst = [["동수", 1],["진우", 2], ["선영", 3]]

frns_tpl = [("동수", 1),("진우", 2), ("선영", 3)]

print(type(frns_lst))
print(type(frns_tpl[0]))

print(frns_tpl[0][0])
print(frns_tpl[0][1])

<class 'list'>
<class 'tuple'>
동수
1

In [8]:
frns_lst = [["동수", 1],["진우", 2], ["선영", 3]]
frns_tpl = [("동수", 1),("진우", 2), ("선영", 3)]

frns_lst[0][0] = "철수"
print(frns_lst[0][0])

frns_tpl[0][0] = "철수"

철수

TypeError: 'tuple' object does not support item assignment

In [10]:
frns_tpl = (["동수", 1],["진우", 2], ["선영", 3])

frns_tpl[0][0] = "철수"

In [12]:
frns_tpl = (["동수", 1],["진우", 2], ["선영", 3])

print(frns_tpl.count(["진우", 2]))
print(frns_tpl.index(["진우", 2]))

1
1

In [16]:
for i in (1, 2, 3):
    print(i)

for i in 1, 2, 3: #괄호가 생략되면 튜플로 인식한다
    print(i)

1
2
3
1
2
3

In [18]:
r = range(1, 10)
print(9 in r)

print(10 not in r)

True
True

In [20]:
lst = list((1, 2, 3))
print(lst)

lst = list(range(1, 10))
print(lst)

lst = list("hello")
print(lst)

[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['h', 'e', 'l', 'l', 'o']

In [28]:
list(range(1, 10, 2))

list(range(10, 1, -2))

list(range(10, 2, -2))

list(range(10, 2, -3))

[10, 7, 4]

In [35]:
#my_tuple 이름의 비어있는 튜플을 만들어라.

my_tuple = ()

print(my_tuple)

#숫자 1이 저장된 튜플을 생성하라.

my_tuple = (1) #튜플이 아니라 연산자로 취급되어 int형이 된다.
print(type(my_tuple))

my_tuple = (1,) #이렇게 해야 튜플이 된다
print(type(my_tuple))

()
<class 'int'>
<class 'tuple'>
1

In [36]:
#변수 t 가 ("A", "b", "c") 튜플을 가리키도록 수정하라
t = ("a", "b", "c")

t = ("A", "b", "c")

In [37]:
t = (1, 2, 3)

t[0] = 'a'

TypeError: 'tuple' object does not support item assignment