In [2]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql
import pandas as pd
import numpy as np

# MySQL Connection 연결
conn = pymysql.connect(
    host='localhost',
    user='scott',
    password='tiger',
    db='scott',
    charset='utf8'
)

sql = "select * from emp"
df_emp = pd.read_sql(sql, conn) # Pandas의 sql 입력 모듈. sql문과 connection을 입력하면 DataFrame으로 반환
print(df_emp)

df_emp.to_csv('emp.cvs')

# print(df_emp[['ename', 'sal']])

C:\Users\peep1\AppData\Local\Temp\ipykernel_20932\410543877.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_emp = pd.read_sql(sql, conn) # Pandas의 sql 입력 모듈. sql문과 connection을 입력하면 DataFrame으로 반환

    EMPNO   ENAME        JOB     MGR   HIREDATE     SAL    COMM  DEPTNO
0    7369   SMITH      CLERK  7902.0 1980-12-17   800.0     NaN      20
1    7499   ALLEN   SALESMAN  7698.0 1981-02-20  1600.0   300.0      30
2    7521    WARD   SALESMAN  7698.0 1981-02-22  1250.0   500.0      30
3    7566   JONES    MANAGER  7839.0 1981-04-02  2975.0     NaN      20
4    7654  MARTIN   SALESMAN  7698.0 1981-09-28  1250.0  1400.0      30
5    7698   BLAKE    MANAGER  7839.0 1981-05-01  2850.0     NaN      30
6    7782   CLARK    MANAGER  7839.0 1981-06-09  2450.0     NaN      10
7    7788   SCOTT    ANALYST  7566.0 1987-04-19  3000.0     NaN      20
8    7839    KING  PRESIDENT     NaN 1981-11-17  5000.0     NaN      10
9    7844  TURNER   SALESMAN  7698.0 1981-09-08  1500.0     0.0      30
10   7876   ADAMS      CLERK  7788.0 1987-05-23  1100.0     NaN      20
11   7900   JAMES      CLERK  7698.0 1981-12-03   950.0     NaN      30
12   7902    FORD    ANALYST  7566.0 1981-12-03  3000.0     NaN      20
13   7934  MILLER      CLERK  7782.0 1982-01-23  1300.0     NaN      10

AttributeError: 'DataFrame' object has no attribute 'to_cvs'

In [ ]:
import pymysql
import pandas as pd
import numpy as np